# Apache configuration file (see httpd.apache.org/docs/current/mod/quickreference.html)

# disable directory listing
<IfModule mod_autoindex.c>
	Options -Indexes
</IfModule>

# enable cool URL
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	# prevents files starting with dot to be viewed by browser
	RewriteRule /\.|^\. - [F]

	# front controller
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule !\.(pdf|js|ico|gif|jpg|png|css|rar|zip|tar\.gz|map)$ index.php [L]
</IfModule>

# enable gzip compression
<IfModule mod_deflate.c>
	<IfModule mod_filter.c>
		AddOutputFilterByType DEFLATE text/html text/xml text/css text/plain image/svg+xml application/xhtml+xml application/xml application/rdf+xml application/rss+xml application/atom+xml text/javascript application/javascript application/x-javascript application/json application/x-font-ttf application/x-font-otf font/truetype font/opentype
	</IfModule>
</IfModule>

#expirations
<ifModule mod_expires.c>

	ExpiresActive On
	ExpiresDefault							"access plus 5 seconds"

	ExpiresByType application/json					"access plus 0 seconds"
	ExpiresByType application/xml					"access plus 0 seconds"
	ExpiresByType text/xml						"access plus 0 seconds"
	ExpiresByType text/html						"access plus 600 seconds"
	ExpiresByType application/xhtml+xml				"access plus 600 seconds"

	<Filesmatch "\.(pdf|js|ico|gif|jpg|png|css|rar|zip|tar\.gz|map|svg|eot|otf|ttf|woff|woff2)$">
		ExpiresDefault "access plus 14 days"
	</Filesmatch>

</ifModule>